
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Index";
}
<div class="container mt-5 pt-3"> 
        <div class="container animated bounceIn delay-3s">
                <h1 style="text-align:center" class="mt-5">Welcome, Admin</h1>
           <div class="row" >
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-8 mx-auto">
                            <p class="text-center">
                                As an admin, your responsibility is to add courses, staff and students.
                                Also, to asign lectures to the various courses they teach.
                            </p>
                        </div>
                    </div>

                </div>

            </div>  
        </div> 
</div>




